<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <title>Marvel API Project</title>
    </head>
    <body>
        <section class="panel">
                <div id="panel1">
                        <!-- SVG Code from wikipedia-->
                        <div id="svgcontainer">
                                <svg version="1.1"
                                id="Capa_1" inkscape:version="0.48.2 r9819" sodipodi:docname="Marvel&apos;s The Avengers logo.svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1621.4 589"
                                style="enable-background:new 0 0 1621.4 589;" xml:space="preserve">
                               <style type="text/css">
                                       .st0{fill:#FFF;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
                               </style>
                               <sodipodi:namedview  bordercolor="#666666" borderopacity="1" fit-margin-bottom="0" fit-margin-left="0" fit-margin-right="0" fit-margin-top="0" gridtolerance="10" guidetolerance="10" id="namedview5" inkscape:current-layer="Capa_1" inkscape:cx="654.97797" inkscape:cy="307.67424" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-height="837" inkscape:window-maximized="1" inkscape:window-width="1600" inkscape:window-x="-8" inkscape:window-y="-8" inkscape:zoom="0.43664649" objecttolerance="10" pagecolor="#ffffff" showgrid="false">
                                       </sodipodi:namedview>
                               <path id="path3" inkscape:connector-curvature="0" class="st0" d="M532,150.2l-62.1,154l26.1-154h-68l-43.2,327.3h73.4l143.6-327.3
                                       H532z M631,339.3h59l17.1-58.1h-59l21.2-72h60.3l17.6-59H618.4l-96.3,327.3h126.5l22.5-62.1h-62.6L631,339.3L631,339.3z
                                        M246.6,544.5c-35.4,0-68.6-9-97.8-24.7l-17.4,35.9c34.4,18.4,73.5,28.8,115.1,28.8c78.6,0,148.6-37.2,193.7-95.1h-53.6
                                       C349.8,523.6,300.6,544.5,246.6,544.5z M290.2,420.4v33.8l83.2-63.9l-80.5-75.7v32.7H207l85.9-204v150.3l69.5,65.8L364.2,13h-76.1
                                       L10,587.2l92.3,1.8L177,420.4H290.2z M66.7,438.9C49.4,408.3,39.5,372.8,39.5,335c0-105.3,76.9-192.5,177-207.3l20.3-41.9
                                       C105.1,91,0,200.6,0,335c0,53.9,16.9,103.9,45.7,144.7L66.7,438.9L66.7,438.9z M362.3,477.5v-61.8l-72.2,61.8H362.3L362.3,477.5z
                                        M1388.7,322.2c16.7,0,26.1-9.9,28.8-19.4l32.9-111.2c6.3-21.6-3.2-41.4-32.4-41.4h-123.8l-96.3,327.3h68l41-139.6h22.5
                                       c8.1,0,9,5.9,7.2,11.3l-37.8,128.3h68l35.1-119.3C1409,334.8,1399.1,324,1388.7,322.2z M1377.9,216.4l-18,60.8
                                       c-3.2,9.9-9,12.6-15.8,12.6h-23.4l25.7-86.9h21.2C1377.9,202.8,1380.6,207.8,1377.9,216.4L1377.9,216.4z M866,150.2l-37.4,126.5
                                       l-2.3-126.5h-58.1L672,477.5h63.9l39.2-130.6l5.9,130.6h54.5l96.3-327.3L866,150.2L866,150.2z M1544.5,209.1h59.4l17.6-59h-104.9
                                       c-16.2,0-32.4,4.5-40.1,27.5l-37.4,127c-6.8,23.9,0,39.6,28.4,39.6h36c4.1,0,4.1,1.8,3.2,4.5l-15.8,55.4
                                       c-2.7,8.1-4.5,11.3-17.1,11.3h-56.7l-18.5,62.1h111.2c14,0,28.8-6.8,32.4-19.8l37.4-127c9.5-32-5.9-45.5-30.2-45.5H1513l19.4-66.6
                                       C1534.6,211.4,1539.5,209.1,1544.5,209.1L1544.5,209.1z M1005.6,281.2l-17.1,58.1h14L977.7,423h-23c-9,0-13.1-3.6-10.4-13.1
                                       l56.3-190.9c2.3-8.1,5.9-9.9,13.1-9.9h66.2l17.6-59H988.9c-21.6,0-36.5,6.3-43.7,30.6l-69.3,235.9c-12.6,43.2,13.1,60.8,43.7,60.8
                                       h41.9l-7.2,25.7l75.6-38.3l54-183.7L1005.6,281.2L1005.6,281.2z M1156.8,339.3h59l17.1-58.1h-59l21.2-72h60.3l17.6-59h-128.8
                                       l-96.3,327.3h126.5l22.5-62.1h-62.6L1156.8,339.3L1156.8,339.3z"/>
                               </svg>
                        </div>
                        <h1 id="mainsubtitle" class="headertext">ASSEMBLE</h1>
                        <img id="downarrow" src="../img/downarrow.png" alt="downward pointing arrow">
                </div>
        </section>
        <section class="panel">
                <div id="panel2">
                        <div id="hdrp2">
                                <h1 class="headertext">WHO ARE THE AVENGERS?</h1>
                        </div>
                        <div id="biop2">
                                <h2 class="headertext"">BIO</h2>
                                <p class="bodytext" id="biotextp2">The Avengers are Earth's foremost major organization of costumed superhuman crimefighters, adventurers and heroes dedicated to safeguarding the world from any threat beyond the power of conventional peacekeeping forces or any which any of them can't handle alone. </br> </br>

                                Founded several months after the incorporation of the hero team Fantastic Four, the Avengers became the first superhuman team to be granted full official government sanctions by the National Security Council of the United States, the General Assembly of the United Nations, and later by the international intelligence/law enforcement agency S.H.I.E.L.D.</p>
                                <img src="../img/avengerslineup2.jpg" alt="The Avengers">
                        </div>
                        <div id="enmhp2">
                                <h2 class="headertext">NOTABLE FOES</h2>
                        </div>
                        <div id="enm1p2">
                                <h3 class="headertext">LOKI</h3>
                                <img src="../img/loki.png" alt="Loki">
                        </div>
                        <div id="enm2p2">
                                <h3 class="headertext">ULTRON</h3>
                                <img src="../img/ultron.png" alt="Ultron">
                        </div>
                        <div id="enm3p2">
                                <h3 class="headertext">THANOS</h3>
                                <img src="../img/thanos.png" alt="Thanos">
                        </div>
                </div>
        </section>
        <section class="panel">
                <div id="panel3">
                        <h1 id="chartheader" class="headertext">AVENGERS SERIES LENGTH</h1>
                        <p class="bodytext">There have been multiple series of Avengers comics over the past few decades - this graph shows how many issues each series ran for.</p>
                        <canvas id="myChart"></canvas>
                </div>
        </section>
        <section class="panel">
                <div id="panel4">
                        <div id="hdrp4">
                                <h1 class="headertext">NOTABLE AVENGERS</h1>
                        </div>
                        <div id="hn1p4">
                                <h3 class="headertext heroname">IRON MAN</h3>
                        </div>
                        <div id="hn2p4">
                                <h3 class="headertext heroname">THOR</h3>
                        </div>
                        <div id="hn3p4">
                                <h3 class="headertext heroname">CAPTAIN AMERICA</h3>
                        </div>
                        <div id="hn4p4">   
                                <h3 class="headertext heroname">BLACK WIDOW</h3>
                        </div>
                        <div id="hn5p4">
                                <h3 class="headertext heroname">HULK</h3>
                        </div>
                        <div id="hn6p4">
                                <h3 class="headertext heroname">BLACK PANTHER</h3>
                        </div>
                        <div id="hi1p4">
                                <img class="heroimg" src="../img/ironman.png" alt="Iron Man">
                        </div>
                        <div id="hi2p4">
                                <img class="heroimg" src="../img/thor.png" alt="Thor">
                        </div>
                        <div id="hi3p4">
                                <img class="heroimg" src="../img/captainamerica.png" alt="Captain America">
                        </div>
                        <div id="hi4p4">
                                <img class="heroimg" src="../img/blackwidow.png" alt="Black Widow">
                        </div>
                        <div id="hi5p4">                                
                                <img class="heroimg" src="../img/hulk.png" alt="Hulk">
                        </div>
                        <div id="hi6p4">                                
                                <img class="heroimg" src="../img/blackpanther.png" alt="Black Panther">
                        </div>
                        <div id="hd1p4">
                                <p class="herotext bodytext">A wealthy American business magnate, playboy, and ingenious scientist, Anthony Edward "Tony" Stark suffers a severe chest injury during a kidnapping. When his captors attempt to force him to build a weapon of mass destruction, he instead creates a powered suit of armor to save his life and escape captivity. Later, Stark develops his suit, adding weapons and other technological devices he designed through his company, Stark Industries. He uses the suit and successive versions to protect the world as Iron Man. Although at first concealing his true identity, Stark eventually declared that he was, in fact, Iron Man in a public announcement.</p>
                        </div>
                        <div id="hd2p4">                                
                                <p class="herotext bodytext">Thor Odinson is the current king of Asgard, a founding member of the Avengers, and the God of Thunder. When his irresponsible behavior restarted a conflict between Asgard and Jotunheim, Thor was denied the right to become king, stripped of his power, and banished by his father Odin to Earth. While exiled on Earth, Thor learned humility, finding love with Jane Foster, and helping to save his new friends from a destructive threat sent by his adoptive brother Loki. Due to his selfless act of sacrifice, Thor redeemed himself in his father's eyes and was granted his power once more, which he then used to defeat Loki's schemes of genocide.</p>
                        </div>
                        <div id="hd3p4">
                                <p class="herotext bodytext">Steven Grant "Steve" Rogers is a World War II veteran, and is known as the world's first superhero. Born within Brooklyn, New York City, the young Rogers had suffered from numerous health problems, and upon America's entry into World War II, was rejected from military service despite several attempts to enlist. Determined to serve, he ultimately volunteered for the top-secret Super Soldier program, and the frail Rogers was then enhanced to the peak of human perfection. Rogers soon joined the war effort as the mascot, given the new moniker of Captain America, and later joined the war with a combat role after he single-handedly liberated captured Allied POWs.</p>
                        </div>
                        <div id="hd4p4">
                                <p class="herotext bodytext">Natalia Alianovna "Natasha" Romanoff, better known as Black Widow, is one of the most talented spies and assassins in the entire world and a founding member of the Avengers. Originally an agent of the Soviet agency for foreign intelligence, the KGB, she later became a member of S.H.I.E.L.D., the international counter-intelligence agency. Having extensive mastery in martial arts and armed with her Widow's Bite, Black Widow became one of S.H.I.E.L.D.'s most efficient agents. During one mission, she was sent undercover into Stark Industries to watch Tony Stark due to fears that he was dying. During this mission, Romanoff had assisted Stark with defeating Ivan Vanko's terrorist plots against him.</p>
                        </div>
                        <div id="hd5p4">
                                <p class="herotext bodytext">Robert Bruce Banner, M.D., Ph.D. is a renowned scientist who was highly respected for all his work in the fields of Biochemistry, Nuclear Physics, and Gamma Radiation. As part of a program commissioned by Thaddeus Ross to recreate the Super Soldier Serum which created Captain America, Banner conducted an experiment with Gamma Radiation. However, when an exposure to high levels of Gamma Radiation instead of Vita Radiation went awry, the mild-mannered scientist had found that when angered or provoked, he would transform into the huge, rage-fueled, nearly mindless creature known as Hulk.</p>
                        </div>
                        <div id="hd6p4">
                                <p class="herotext bodytext">T'Challa was the monarch of the African nation of Wakanda, and the son of T'Chaka and Ramonda. As the Wakandan monarch, he was also the former holder of the Black Panther mantle. After his father was killed in a bombing attack orchestrated by Helmut Zemo, the new monarch set out to kill the Winter Soldier, who was widely believed to be responsible for the attack. After being drawn into the Avengers Civil War and siding with Iron Man, T'Challa learned the truth about Zemo's deception and decided to help the Winter Soldier by granting him asylum in Wakanda and helping him get a cure for his HYDRA mental programming.</p>
                        </div>
                </div>
        </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="../js/scripts.js" defer></script>
    </body>
</html>